.center-logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-logo-sandbox {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.field-button {
    display: block;
}

.form-check {
    margin-left: 1.25em;
}

h3 {
    font-size: 1.25em;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: medium;
}

.ap-icon {
    background: url('icons/white-apicon.png');
    background-size: contain;
    height: 16px;
    width: 16px;
    display: block;
}

.sidebar-link:hover .ap-icon {
    background: url('icons/black-apicon.png');
    background-size: contain;
}

.loading-box {
    margin: 10% 25% 10% 25%;
    width: 50%;
    height: 200px;
    padding: 1em;
    background-color: rgba(27,42,81, 0.9);
    display: block;
    border: 5px solid white;
    border-radius: 15px;
    align-content: center;
    position: fixed;
    top: 0px;
    z-index: 1500;
    color: rgba(255, 255, 255);
    text-align: center;
    vertical-align: middle
}

body {
    background: linear-gradient(rgba(27,42,81,1), rgba(85,109,171,1)) no-repeat center fixed;
    background-size: cover;
}