
<h2 class="text-secondary">General Information</h2>

<div><br /></div>

<Container class="sectionBox">
    <div class="box-title text-secondary">ROM File</div>
    <Container Class="infoBox">
        <div class="text-secondary">This Final Fantasy Mystic Quest randomizer is only compatible with the NA v1.1 rom file (MD5: f7faeae5a847c098d677070920769ca2).</div>
    </Container>
</Container>

<div><br /></div>

<Container class="sectionBox">
    <div class="box-title text-secondary">Game Changes</div>
    <Container Class="infoBox">
        <div class="fw-bold text-secondary">Bug Fixes</div>
        <div class="text-secondary">The most serious bugs from the original game have been fixed, including the Dark King taking damage from the Cure spell.</div>
        <br />

        <div class="fw-bold text-secondary">MSU-1 Support</div>
        <div class="text-secondary">The MSU-1 chip is natively supported by any randomized rom and no additional patching is necessary. To learn more about MSU-1, read the <a href="https://www.zeldix.net/t1607-msu1-getting-started-guide" target="_blank" rel="noopener noreferrer" class="text-secondary" style="text-decoration: underline">Getting Started Guide <Icon Name="IconName.ExternalLinkSquareAlt" class="text-secondary" /></a> or the <a href="https://www.zeldix.net/t2045-final-fantasy-mystic-quest" target="_blank" rel="noopener noreferrer" class="text-secondary" style="text-decoration: underline">FFMQ page <Icon Name="IconName.ExternalLinkSquareAlt" class="text-secondary" /></a> at zeldix.net.</div>
        <br />

        <div class="fw-bold text-secondary">Archipelago Support</div>
        <div class="text-secondary">This randomizer is compatible with the multiworld multi-game randomizer <a href="https://archipelago.gg/" target="_blank" rel="noopener noreferrer" class="text-secondary" style="text-decoration: underline">Archipelago <Icon Name="IconName.ExternalLinkSquareAlt" class="text-secondary" /></a>. Read the <a href="https://archipelago.gg/tutorial/Final%20Fantasy%20Mystic%20Quest/setup/en" target="_blank" rel="noopener noreferrer" class="text-secondary" style="text-decoration: underline">Setup Guide <Icon Name="IconName.ExternalLinkSquareAlt" class="text-secondary" /></a> for FFMQR to know more.</div>
        <br />

        <div class="fw-bold text-secondary">Exit Book</div>
        <div class="text-secondary">Casting the Exit spell on the Overworld now brings you back to the starting location (Level Forest in most settings).</div>
        <br />

        <div class="fw-bold text-secondary">Gameinfo Screen</div>
        <div class="text-secondary">The Start Menu has a new option, "Gameinfo", that will show some useful in-game informations: Sky Coin fragments requirement, enemies' resistances and weaknesses shuffling, and Companions' quests and spells.</div>
        <br />

        <div class="fw-bold text-secondary">Pazuzu</div>
        <div class="text-secondary">Pazuzu's floor rng (ie which floor he will randomly jump to when talked to) is fixed for a given seed and he will already be on his initial floor instead of all seven floors when entering Pazuzu's Tower.</div>
    </Container>
</Container>

<div><br /></div>

<Container class="sectionBox">
    <div class="box-title text-secondary">Progression Changes</div>
    <Container Class="infoBox">
<div class="text-secondary">It's no surprise that FFMQ is a very linear game and so several changes have been made to open up the game and avoid deadend scenarios.</div>
<br />

<div class="fw-bold text-secondary">Overworld</div>
<div class="text-secondary">All the locations are accessible from the start, except for the path North of Libra Temple (which require the thawing of Aquaria to open up) and the bridge between the Volcano and Aquaria (which require defeating Dualhead Hydra). You still need the Coins to open up the gates in the Focus Tower to reach the 3 areas beyond Foresta.</div>
<br />

<div class="fw-bold text-secondary">Focus Tower</div>
<div class="text-secondary">The column is at the right place so you can go to Fireburg as soon as you get the River Coin.</div>
<br />

<div class="fw-bold text-secondary">Spencer's Place</div>
<div class="text-secondary">To dislodge Mac's Ship you need to enter from the Rainbow Bridge with the Mega Grenade. Spencer will still be there to give his item after the cave has collapsed.</div>
<br />

<div class="fw-bold text-secondary">Minor Dungeons</div>
<div class="text-secondary">You will have to defeat Snow Crab, Medusa, Gidrah and Dullahan to get the chest in their respective dungeon. Note that Medusa has been moved to the Mask chest location and is not found at the top of the volcano anymore.</div>
<br />

<div class="fw-bold text-secondary">Companions</div>
<div class="text-secondary">Companions won't leave your party unless you meet another one and you can always go back to them to change your party.</div>
<br />
<div class="text-secondary">Kaeli: Kaeli will only join you when you show her the Tree Wither and will give you an item if you defeat the Minotaur with her. Once you cure her with the Elixir, you will be able to find her back in Windia where she will give you another item the first time you talk to her. She isn't required to enter the Giant Tree.</div>
<br />
<div class="text-secondary">Tristam: Tristam will be in Sand Temple and will give you an item in Bone Dungeon; after that he will be in Fireburg and will give you another item the first time you talk to him.</div>
<br />
<div class="text-secondary">Phoebe: Phoebe will be in Libra Temple and will give you an item in Wintry Cave; she WON'T give you an item in Fall Basin. After that, you'll find her in Windia.</div>
<br />
<div class="text-secondary">Reuben: Reuben will always be in his house in Fireburg. He will give you an item on the ledge in the Mine (replace Phoebe's Fall Basin item).</div>
<br />

<div class="fw-bold text-secondary">Other changes</div>
<div class="text-secondary">Wakewater: To thaw Aquaria, the Wakewater is required now instead of defeating the Ice Golem.</div>
<br />
<div class="text-secondary">Tristam's Chest: A chest locked with the Venus Key in Spencer's Cave now contains the item replacing Tristam's Dragon Claw.</div>
    </Container>
</Container>

<div><br /></div>

<Container class="sectionBox">
    <div class="box-title text-secondary">What's my go mode?</div>
    <Container Class="infoBox">
<div class="text-secondary">While all Quest Items should be obtainable in every seeds, to finish the game you'll only need:</div>
<ul class="text-secondary">
  <li>Sword</li>
  <li>Mega Grenade</li>
  <li>Dragon Claw</li>
  <li>Sun Coin</li>
  <li>Sky Coin</li>
  <li>Thunder Rock</li>
  <li>Captain Mac's Hat</li>
  <li>Mobius Crest</li>
</ul>
    </Container>
</Container>

<div><br /><br /><br /></div>


@code{

}
