
<h2 class="text-secondary">General Information</h2>

<div><br /></div>

<Container class="sectionBox">
    <div class="box-title text-secondary">ROM File</div>
    <Container Class="infoBox">
        <div class="text-secondary">This Final Fantasy Mystic Quest randomizer is only compatible with the NA v1.1 rom file (MD5: f7faeae5a847c098d677070920769ca2).</div>
    </Container>
</Container>

<div><br /></div>

<Container class="sectionBox">
    <div class="box-title text-secondary">Changes</div>
    <Container Class="infoBox">
<div class="text-secondary">It's no surprise that FFMQ is a very linear game and so several changes have been made to open up the game and avoid deadend scenarios.</div>
<br />

<div class="fw-bold text-secondary">Bug Fixes</div>
<div class="text-secondary">The most serious bugs from the original game have been fixed, including the Dark King taking damage from the Cure spell.</div>
<br />

<div class="fw-bold text-secondary">Overworld</div>
<div class="text-secondary">All the locations are accessible from the start, except for the path North of Libra Temple (which require the thawing of Aquaria to open up) and the bridge between the Volcano and Aquaria (which require defeating Dualhead Hydra). You still need the Coins to open up the gates in the Focus Tower to reach the 3 areas beyond Foresta.</div>
<br />

<div class="fw-bold text-secondary">Focus Tower</div>
<div class="text-secondary">The column is at the right place so you can go to Fireburg as soon as you get the River Coin.</div>
<br />

<div class="fw-bold text-secondary">Spencer's Place</div>
<div class="text-secondary">To dislodge Mac's Ship you need to enter from the Rainbow Bridge with the Mega Grenade. Spencer will still be there to give his item after the cave has collapsed.</div>
<br />

<div class="fw-bold text-secondary">Minor Dungeons</div>
<div class="text-secondary">You will have to defeat Snow Crab, Medusa, Gidrah and Dullahan to get the chest in their respective dungeon. Note that Medusa has been moved to the Mask chest location and is not found at the top of the volcano anymore.</div>
<br />

<div class="fw-bold text-secondary">Companions</div>
<div class="text-secondary">Companions won't leave your party unless you meet another one and you can always go back to them to change your party.</div>
<br />
<div class="text-secondary">Kaeli: Kaeli will only join you when you show her the Tree Wither and will give you an item if you defeat the Minotaur with her. Once you cure her with the Elixir, you will be able to find her back in Windia where she will give you another item the first time you talk to her. She isn't required to enter the Giant Tree.</div>
<br />
<div class="text-secondary">Tristam: Tristam will be in Sand Temple and will give you an item in Bone Dungeon; after that he will be in Fireburg and will give you another item the first time you talk to him.</div>
<br />
<div class="text-secondary">Phoebe: Phoebe will be in Libra Temple and will give you an item in Wintry Cave; she WON'T give you an item in Fall Basin. After that, you'll find her in Windia.</div>
<br />
<div class="text-secondary">Reuben: Reuben will always be in his house in Fireburg. He will give you an item on the ledge in the Mine (replace Phoebe's Fall Basin item).</div>
<br />

<div class="fw-bold text-secondary">Other changes</div>
<div class="text-secondary">Wakewater: To thaw Aquaria, the Wakewater is required now instead of defeating the Ice Golem.</div>
<br />
<div class="text-secondary">Tristam's Chest: A chest locked with the Venus Key in Spencer's Cave now contains the item replacing Tristam's Dragon Claw.</div>
<br />
<div class="text-secondary">Exit Book: Casting the Exit spell on the Overworld now brings you back to the starting location (Level Forest in most settings).</div>
    </Container>
</Container>

<div><br /></div>

<Container class="sectionBox">
    <div class="box-title text-secondary">What's my go mode?</div>
    <Container Class="infoBox">
<div class="text-secondary">While all Quest Items should be obtainable in every seeds, to finish the game you'll only need:</div>
<ul class="text-secondary">
  <li>Sword</li>
  <li>Mega Grenade</li>
  <li>Dragon Claw</li>
  <li>Sun Coin</li>
  <li>Sky Coin</li>
  <li>Thunder Rock</li>
  <li>Captain Mac's Hat</li>
  <li>Mobius Crest</li>
</ul>
    </Container>
</Container>

<div><br /><br /><br /></div>


@code{

}
