@inherits LayoutComponentBase

<Layout Sider="true">
    <LayoutSider>
        <LayoutSiderContent>
            <Sidebar @ref="sidebar" Data="@sidebarInfo" />
        </LayoutSiderContent>
    </LayoutSider>

    <Layout>
        <LayoutHeader Fixed="true">
            <a href="#"><Icon Name="IconName.Bars" IconSize="IconSize.x2" class="text-secondary" Margin="Margin.Is3" Clicked="@ToggleSidebar"/></a>
        </LayoutHeader>
        <LayoutContent>
            <UpdateAvailableDetector/>
            <div class="page">
                <div class="main">
                    <div class="content">
                        @Body
                    </div>
                </div>
            </div>
        </LayoutContent>
    </Layout>


</Layout>

@code{
    Sidebar sidebar;
    SidebarInfo sidebarInfo = new SidebarInfo
    {

        
        Brand = new SidebarBrandInfo
        {
            Text = "FFMQ Rando",
        },
        
        Items = new List<SidebarItemInfo>
        {
            new SidebarItemInfo
            {
                Text = " File",
                Icon = IconName.Save,
                To = "#fileSection",
            },
            new SidebarItemInfo
            {
                Text = " Options",
                Icon = IconName.Wrench,
                To = "#optionsSection",
            },
            new SidebarItemInfo
            {
                Text = " General Info",
                Icon = IconName.QuestionCircle,
                To = "#infoSection",
            },
            new SidebarItemInfo
            {
                Text = " Discord",
                Icon = "fab fa-discord",
                To = "https://discord.gg/VwaZQQATUJ",
            },
            new SidebarItemInfo
            {
                Text = " GitHub",
                Icon = "fab fa-github",
                To = "https://github.com/wildham0/FFMQRando",
            },
        }
    };

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }
}
