@using System.IO;
@using System.Text;
@inject HttpClient Http
@using System.Net.Http
@using FFMQLib;
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<Container class="sectionBox">
    <div class="box-title text-secondary">Preferences</div> 
    <div class="text-secondary">Preferences doesn't affect the randomization and can be enabled/disabled without any impact on gameplay.</div>
    <Container Class="flagBox">
        <Container Class="flagColumn">
            <BoolFlag UsePreset=false Name="Randomize Benjamin's Palette" @bind-Value="preferences.RandomBenjaminPalette" Tooltip="Randomly select Benjamin's palette, giving him a brand new look!" />
            <BoolFlag UsePreset=false Name="Randomize Music" @bind-Value="preferences.RandomMusic" Tooltip="Shuffle the music tracks." />
            <Field>
                <Text TextColor="TextColor.Secondary" class="fw-bold">Default Window Palette</Text>
                <Tooltip Text="Set the Window starting palette.<br/><br/>Default blue is RGB 0, 80, 160 (#0050A0)." Inline Multiline Placement="TooltipPlacement.Right">
                    <Icon TextColor="TextColor.Secondary" Name="IconName.QuestionCircle" IconSize=IconSize.Small />
                </Tooltip>
                <ColorEdit Color="@windowPalette" ColorChanged="@WindowPaletteChange" />
            </Field>
            <Field class="text-secondary dropFlag romBtn">
                <Button Color="Color.Primary" Clicked="@SavePreferences">Save Preferences</Button>
            </Field>
        </Container>
        <Container Class="flagColumn">
        </Container>
    </Container>
</Container>

@code
                {
    [Parameter]
    public Preferences preferences { get; set; }

    private string windowPalette = "#0050A0";

    private void WindowPaletteChange(string palette)
    {
        int red = Convert.ToInt32(palette.Substring(1, 2), 16);
        int green = Convert.ToInt32(palette.Substring(3, 2), 16);
        int blue = Convert.ToInt32(palette.Substring(5, 2), 16);

        int gamered = red / 8;
        int gamegreen = green / 8;
        int gameblue = blue / 8;

        ushort paletteValue = (ushort)(gamered + (gamegreen * 32) + (gameblue * 32 * 32));
        preferences.WindowPalette = paletteValue;

        red = gamered * 8;
        green = gamegreen * 8;
        blue = gameblue * 8;

        windowPalette = $"#{red:X2}{green:X2}{blue:X2}";
        StateHasChanged();
    }

    private void SetWindowPalette(ushort palette)
    {

        int red = (palette % 32) * 8;
        int green = ((palette % (32 * 32))/32) * 8;
        int blue = (palette / (32 * 32)) * 8;

        windowPalette = $"#{red:X2}{green:X2}{blue:X2}";
        StateHasChanged();
    }

    protected override async void OnInitialized()
    {
        LoadPreferences();
        SetWindowPalette(preferences.WindowPalette);
    }


    public void SavePreferences()
    {
        var prefList = preferences.GetType().GetProperties().ToList();

        foreach (var pref in prefList)
        {
            localStorage.SetItem(pref.Name, pref.GetValue(preferences, null));
        }
    }

    public void LoadPreferences()
    {
        var prefList = preferences.GetType().GetProperties().ToList();

        foreach (var pref in prefList)
        {
            if (pref.PropertyType == typeof(bool))
            {
                bool? value = localStorage.GetItem<bool?>(pref.Name);
                if (value != null)
                {
                    pref.SetValue(preferences, value);
                }
            }
            else if (pref.PropertyType == typeof(ushort))
            {
                ushort? value = localStorage.GetItem<ushort?>(pref.Name);
                if (value != null)
                {
                    pref.SetValue(preferences, value);
                }

            }
            else if (pref.PropertyType == typeof(string))
            {
                string pathvalue = localStorage.GetItem<string>(pref.Name);

                pref.SetValue(preferences, pathvalue ?? "");
            }
        }
    }
}