<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFMQRWin.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FFMQRWin.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FFMQRWin.Settings>
            <setting name="LastFlagset" serializeAs="String">
                <value />
            </setting>
            <setting name="RomFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApmqSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoredPath" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomBenjaminPalette" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DarkKingTrueForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReduceBattleFlash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerSprite" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomSpritesLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="RomSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCloseOnSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSpeedHacks" serializeAs="String">
                <value>False</value>
            </setting>
        </FFMQRWin.Settings>
        <FFMQRWin.Settings1>
            <setting name="LastFlagset" serializeAs="String">
                <value />
            </setting>
            <setting name="RomFileLocation" serializeAs="String">
                <value />
            </setting>
        </FFMQRWin.Settings1>
    </userSettings>
</configuration>