<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="#">FFMQ Rando</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarLabel>Main</SidebarLabel>
            <SidebarItem>
                <SidebarLink To="#fileSection" Title="File">
                    <Icon Name="IconName.Save" Margin="Margin.Is3.FromRight" />File
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>
@code{
    Sidebar sidebar;
    SidebarSubItem mailSidebarSubItems;
    SidebarSubItem appsSidebarSubItems;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }
}