name: FFMQRando

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Build
      run: dotnet build FFMQWebAsm --configuration Release
    - name: Publish webasm
      run: dotnet publish FFMQWebAsm -c Release --no-build -o publishoutput
    - name: Publish to netlify
      uses: netlify/actions/cli@master 
      env: 
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_API_ID: ${{ secrets.NETLIFY_API_ID }}
      with:
        args: deploy --dir=publishoutput/wwwroot --prod
        secrets: '["NETLIFY_AUTH_TOKEN", "NETLIFY_API_ID"]' 
